<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Henry Howe</title>
  <!-- Linking CSS. -->
  <link rel="reset" href="/Stylesheets/Reset.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
  <link rel="stylesheet" href="/Stylesheets/Stylesheet.css">
</head>

<div class="wrapper">
    <h1>Henry Howe</h1>
    <!-- Nav-Bar. -->
    <nav>
        <a href="/" class=""></a>
        <a href="mailto:hhc3h8@gmail.com">Email</a>
        <a href="/aboutme">About</a>
        <a href="/resume">Resume</a>
        <a href="#contact">Contact</a>
    </nav>
</div>

<main>
    {{{ body }}}
</main>

<footer id="contact" class="contact">
    <h2>Contact information:</h2>
    <ul id="hail" class="steel">
        <li>Mobile:(256)-486-8967</li>
    </ul>
</footer>

</body>

</html>
