<section id="aboutme" class="aboutme">
    <article>
        <h2>About me:</h2>
            <p id="bomb" class="monke">
                Hello, my name is Henry. 
                I am an aspiring software developer, 
                and this is my portfolio. There will 
                be more applications and such added 
                in the very near future. There will
                also be more coding languages added 
                to the additional information section 
                as I learn them. I look forward to 
                working with your company in the future.
            </p>
    </article>
</section>
      