<section class="" id="resume">
    <article>
        <h2>Henry Wyatt Howe</h2>

        <h4>About me</h4>
            <p class="monke">
                I am a hard worker, and I always strive to complete 
                a job to the best of my ability. 
                I enjoy learning new skills and techniques 
                and practicing them over time. I am not 
                afraid to try/learn something new. I do have some 
                experience in other programming languages as well.
            </p>
            <p class="monke">
                I have had a life-long interest in martial arts; 
                and that is what taught me work-ethic, discipline,
                as well as open-mindedness, humor, and the ability 
                to balance and structure aspects of life. I am currently
                changing from food-service to tech and looking forward to 
                the new chapter. I want to learn as much as I can.
            </p>
            <p class="monke">
                I am willing to start low and work my way up. To learn relevant 
                programming languages, techniques, and technologies 
                for whatever the specific job entails.
            </p>


        <h4>Proficient With:</h4>
        <ul class="">
            <li>Javascript</li>
            <li>Bootstrap, Bulma, Tailwind CSS environments</li>
            <li>Inquirer</li>
            <li>Object Oriented Programming</li>
            <li>Test Driven Development (primarily jest)</li>
            <li>Node</li>
            <li>MySQL</li>
            <li>NoSQL (Primarily MongoDB)</li>
            <li>Heroku Cloud</li>
        </ul>
    </article>
</section>
