* {
    box-sizing: border-box;
}

html {
    height: 100%;
    flex: 2 1 0;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    line-height: 1.3;
    min-height: 100vh;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: top;
    padding: 1%;
    background-image:url(../../Assets/blue-clouds-day-fluffy-53594.jpeg);
    background-color: #008bb0;
    color: #000000; 
}

h1 {
    font-size:250%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: left;
    flex: 2 1 0;
}

nav ul {
    display: flex;
    justify-content: right;
    min-width: 60%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 125%;
    background-color: #e60909;
    text-decoration: underline;
    flex: 2 1 0;
}

nav li {
    display: flex;
    margin: 0 2 0 2;
    justify-content: space-around;
    min-width: 20%;
    flex: 2 1 0;
    color: #9370d8
}

nav a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #d4f1af;
    color: #000000;
    font-weight: bold;
}

main {
    display: flex;
    flex: 2 1 0
}

img #cigar {
    display: flex;
    justify-content: center;
    max-width: 40%;
}

h2 {
    background-color: #008bb0;
    color: #ffffff; 
    display: flex;
    flex-direction: row;
    justify-content: left;
    font-size: 200%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0 2 0 2;
}

article {
    display: flex;
    flex-wrap: inherit;
    text-align: right;
}

p {
    display: flex;
    text-align: right;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color:  #000000;
    font-size: 125%;
    padding: 2%;
}

footer {
    display: flex;
    flex-direction: row;
    list-style-type: square;
    align-items: inherit;
    background-color: #1b75db;
}

#hail ul {
    flex: 2 1 0;
    list-style-type: none;
    justify-content: right;
    text-decoration: underline;
}

.steel {
    list-style-type: none;
    display: flex;
    min-width: 45%;
    flex-direction: row;
    align-items: right;
    background-color: #bdb76b;
    color: #000000;
    font-size: 150%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.steel li {
    flex: 2 1 0;
    text-align: right;
    min-width: 65%;
    color: #ffffff
}

.steel a {
    flex: 2 1 0;
    color: #ffffff;
}

@media screen and (max-width: 992) {
    
    header {
        background-color: #000000;
        color: #ffffff;
    }
    
    h1 {
        display: flex;
        font-size: 100%;
    }

    nav ul {
        display: flex;
        font-size: 50%;
    }

    .monke {
        display: flex;
        justify-content: flex-end;
        background-color: #bdb76b;
        color: #000000;
    }
    
}

@media screen and (max-width: 768) {
    
}

@media screen and (max-width: 576) {
    
}